---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About — Liam">
	<div class="container">
		<h1>About</h1>
		<p style="color:var(--muted)">I'm a Computer Science student at Toronto Metropolitan University studying software engineering, scripting and low level programming! 
            In my free time I love playing trumpet and saxophone and riding motorcycles!
        </p>

		<section style="margin-top:1.25rem">
			<h2>Skills</h2>
			<div class="skills">
				<div class="skill-card">
					<div class="skill-icon"><img src="src/assets/python.png" alt="Python logo"></div>
					<div class="skill-name">Python</div>
				</div>

				<div class="skill-card">
					<div class="skill-icon"><img src="src/assets/java.png" alt="Java logo"></div>
					<div class="skill-name">Java</div>
				</div>

				<div class="skill-card">
					<div class="skill-icon"><img src="src/assets/html.png" alt="Web logo"></div>
					<div class="skill-name">HTML / CSS / JS</div>
				</div>

				<div class="skill-card">
					<div class="skill-icon"><img src="src/assets/rust.svg.png" alt="Rust logo"></div>
					<div class="skill-name">Rust <small>(beginner)</small></div>
				</div>

				<div class="skill-card">
					<div class="skill-icon"><img src="src/assets/git.png" alt="Git logo"></div>
					<div class="skill-name">Git</div>
				</div>
			</div>
		</section>
	</div>
</Layout>
