
---
---

<footer class="site-footer">
	<div class="container">
		<div style="display:flex;justify-content:space-between;align-items:center;gap:1rem;flex-wrap:wrap">
			<div style="color:var(--muted)">© {new Date().getFullYear()} Liam Shelston</div>
			<div style="display:flex;gap:0.75rem">
				<a href="https://github.com/FieldFlash" class="nav-link" style="color:var(--muted);text-decoration:none">GitHub</a>
				<a href="/contact" style="color:var(--muted);text-decoration:none">Contact</a>
                <a href="https://ca.linkedin.com/in/liam-shelston-a054ba293" style="color:var(--muted);text-decoration:none">LinkedIn</a>

			</div>
		</div>
	</div>
</footer>
